body
{
    font-family: Lato, Tahoma, Geneva, sans-serif;
    background-color: #7395A3;
    color: #5D5C61;
}

.centered{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgcontainer{
    width: 100%;
    height:100vh;
}

.imgcontainer img{
    width: 100%;
    height: 100%;
}

.maintitle{
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px;
}

h1
{
    font-family: Lora, Georgia, serif;
    font-size: 40px;
    text-align: left;
    color: #000000;
    margin-bottom: 25px;
    padding-left: 100px;
}

h1.opening {
    padding-left: 0px; 
    width: auto;
}

h3
{
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    color: #474B4F;
    margin-bottom: 25px;
    margin-right: 50px
}

h4.openingq {
    font-weight: bold;
    text-transform: uppercase; 
    text-align: left;
    font-size: 16px;
    margin-bottom: 2px;
    letter-spacing: 1px;
    color:#557A95;
}

h5
{
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    color: #474B4F;
    margin-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
}

/* what are the sanctions? */
.openingcontainer {
    padding-right: 5%;
    padding-left: 5%;
}
.openingcontainer1 {
    padding-right: 5%;
    padding-left: 10%;
}

.openingcontainer p {
    font-size: 14px;
}

.openingheader {
    margin-bottom: 50px; 
}

.openingheader hr {
    width: 90%;
    float: left;
    margin-top: 0px;
}

.clearfloat {
    clear: both;
}

.subtitle, h3 {
    font-family: Lora, Georgia, serif;
    font-style: italic;
    margin-top: -10px; 
    font-size: 18px;
    color: #7395AE
}

.q-a {
    margin-top: 25px;
}

.q-a p {
    font-size: 13px;
}

.right
{
    font-weight: normal;
    font-size: 17px;
    text-align: right;
    color: #474B4F;
    margin-bottom: 25px;
    margin-right: 50px;
}

.section {
    text-align:center;
}

h1.maintitle {
    font-size: 50px; 
    text-align: center;
}



/* text */
.intro p {
    width: 85%;
    margin: 0;
    font-size: .9em;
    text-align: left;
    color: #303030;
}

input[type="radio"]
{
    margin-right: 5px;
}
.usgso-emphasis {
    letter-spacing: 5px; 
    font-weight: 700; 
    font-size: 26px;
    text-transform: uppercase;
}

.usgso-desc {
    font-weight: 700; 
    font-style: italic; 
}

.white
{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
}
.chart-title
{
    font-weight: normal;
    font-size: 20px;
}
.labels
{
    font-size: 12px;
    fill: grey;
}
.area, .bar-rect
{
    fill: #02008e;
}
.x, .y
{
    stroke: red;
}
.y1, .y2
{
    font-weight: bold;
}

.form-control{
    width: 200px;
    margin-left: 25px;
}

form {
    margin-left: 25px;
    padding: 5px;
}

button {
    /*position: absolute;*/
    text-align: center;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #171151;
    font-weight: bold;
    font-size: 13px;
    color: white;
    border: solid 1px black;
    opacity: 1;
}

.fp-section {
    background-color: #999eb0;
}

#fp-section1, #fp-section2, #section3, #section4 {
    background-color: #999eb0;
}
td {
    padding: 0;
}

/* tooltips */
/* adapted from d3 tooltip used in previous labs and homeworks*/
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* timeline tooltips */
.tooltip-top {
    font-size: 16px;
    font-weight: bold;
}

.tooltip-desc {
    font-size: 11px;
}

/* radar chart tooltips */

.tooltip-radar-title {
    font-size: 11px;
    text-transform: uppercase;
    opacity: 70%;
    width: 150px; 
    float: left; 
}

.tooltip-radar-subtitle {
    font-size: 11px;
    float: left; 
    width: 150px; 
}

.tooltip-radar-desc {
    font-size: 15px;
    text-align: right;
    float: right;
    width: 100px; 
}

/* radar chart school labels */
.radar-label-school { 
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px; 
    opacity: 70%;
    width: 150px; 
    fill: #ffffff;
    font-family: Barlow, Tahoma, Geneva, sans-serif;
}

/* USGSO QUIZ */

#quiz{
    display: block;
    margin: auto;
    width: 100%;
    padding: 25px;
/*
    border: solid 0.5px;
    background-color: #f7f7f7;
*/
}

.well {
    padding: 10px;
}

#quiz tr{
    padding: 100px;
}

#quiz .hints {
    padding: 10px;
}

#quiz button {
    text-align: center;
    margin: auto;
    display: block;
}

#correct1, #incorrect1, #correct2, #incorrect2,
#correct3, #incorrect3, #correct6, #incorrect6 {
    color: #557A95;
    font-style: normal;
    font-size: 15px;
    vertical-align: middle;
    margin: auto;
    font-family: Lato, Tahoma, Geneva, sans-serif;
}

#quiz tr, #quiz td{
    vertical-align: middle;
    text-align: left;
}

#correct1 b, #incorrect1 b, #correct2 b, #incorrect2 b,
#correct3 b, #incorrect3 b, #correct6 b, #incorrect6 b {
    color: #557A95;
    font-style: italic;
    font-size: 15px;
}

/* RADAR CHART */
.peerinstitutions {
    padding-left: 40px;
}

/* USGSO categories */
#cate {
    width: 100%;
    margin: auto
}
.desc{
    text-align: left;
    padding: 10px;
    padding-left: 25px;
}
.desc li{
    padding: 2px;
}
#sor, #frat{
    padding-bottom: 70px;
}

.names, .names2{
    font-weight: bold;
    font-size: 20px;
    color: #557A95;
    text-transform: uppercase;
}

/* CATEGORIES */
.usgso-desc {
    padding-left: 100px;
    padding-top: 10px;
    font-style: normal;
}
.usgso-desc p{
    padding: 1px;
    font-weight: normal;
    font-size: 15px;
}
.usgso-desc b{
    padding: 1px;
    font-weight: bold;
    font-size: 20px;
}
.usgso-desc ul li{
    padding: 1px;
    padding-left: 40px;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
}
.usgso-desc ul li b{
    font-size: 15px;
    text-align: left;
}
.usgso-desc #howto li{
    padding: 1px;
    padding-left: 0px;
    text-align: left;
}
#section2 .intro #profile{
    max-height: 100%;
}

/* testimonials */

/* speech bubbles adapted from https://codepen.io/jamesbarnett/pen/GmFjB */

.testimonials p { 
      margin: 15px 20px; 
      color: #333; 
      font-size: 14px;
      text-align: left;
}

.testpro {
}

.testcon {
    padding-left: 50px;
}

.speechpro {
      position: relative;
      width: 415px;
      padding: 3px 8px;
      border-radius: 3px;
      background: #557A95;
      margin-bottom: 20px
}

.speechpro:before {
      content:"";
      position: absolute;
      right: 100%;
      top: 20px;
      width: 0;
      height: 0;

      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      border-right: 26px solid #557A95;
}

.speechcon {
      position: relative;
      width: 415px;
      padding: 3px 8px;
      border-radius: 3px;
      background: #7395A3;
      margin-bottom: 20px;
}

.speechcon:before {
      content:"";
      position: absolute;
      left: 100%;
      top: 20px;
      width: 0;
      height: 0;
  
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 26px solid #7395A3;
}

.testimonials p {
    font-style: italic;
    color: #ffffff;
}

.testimonials .speechsource {
    font-weight: bold;
    font-style: normal;
    text-align: right;
    width: 200px;
    font-size: 10px;
    margin-left: 150px;
    margin-top: -10px;
    display: inline-block;
    margin-bottom: 10px;
}

a.speechsource:link {
    color: #171151;
}

/* visited link */
a.speechsource:visited {
    color: #171151;
}

/* mouse over link */
a.speechsource:hover {
    color: #ffffff;
    text-decoration: none;
}

/* selected link */
a.speechsource:active {
    color: #171151;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}

div.tooltip {
    /*position: absolute;*/
    text-align: left;
    /*width: 60px;*/
    /*height: 28px;*/
    padding: 8px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 6px;
    pointer-events: none;
}

li { margin: -3px; }