body
{
    font-family: Barlow, Tahoma, Geneva, sans-serif;
    background-color: white;
    color: black;
}

h1
{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.intro p{
    width: 85%;
    margin: 0;
    font-size: .9em;
    text-align: left;
}

.white
{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
}
.chart-title
{
    font-weight: normal;
    font-size: 20px;
}
.labels
{
    font-size: 12px;
    fill: grey;
}
.area, .bar-rect
{
    fill: #02008e;
}
.x, .y
{
    stroke: red;
}
.y1, .y2
{
    font-weight: bold;
}

.form-control{
    width: 200px;
    margin-left: 25px;
}

form {
    margin-left: 25px;
    padding: 5px;
}

button {
    /*position: absolute;*/
    text-align: center;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    top: 50%;
    right: 50%;
    background-color: #97ffeb;
    font-weight: bold;
    font-size: 20px;
}

.fp-section {
    background-color: black;
}

#fp-section1, #fp-section2, #section3, #section4 {
    background-color: white;
}
td {
    padding: 0;
}

/* tooltips */
/* adapted from d3 tooltip used in previous labs and homeworks*/
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* timeline tooltips */
.tooltip-top {
    font-size: 16px;
    font-weight: bold;
}

.tooltip-desc {
    font-size: 11px;
}

/* radar chart tooltips */
.tooltip-radar {
}

.tooltip-radar-title {
    font-size: 11px;
    text-transform: uppercase;
    opacity: 70%;
    width: 150px; 
    float: left; 
}

.tooltip-radar-subtitle {
    font-size: 11px;
    float: left; 
    width: 150px; 
}

.tooltip-radar-desc {
    font-size: 15px;
    text-align: right;
    float: right;
    width: 100px; 
}

table{
    margin: 20px;
}